name: Daily Job Scraper

on:
  schedule:
    - cron: "*/30 * * * *" # Runs every 30 minutes
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape-and-update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          pip install pandas requests python-jobspy lxml openpyxl

      - name: Run Scraper
        env:
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
          GMAIL_PASS: ${{ secrets.GMAIL_PASS }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
        run: python backend/main.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "MaSudhan Bot"
          git config --global user.email "bot@masudhan.com"
          
          git add data/jobs.json frontend/public/data/jobs.json
          
          git commit -m "Auto-update jobs" || echo "No changes to commit"
          
          git pull --rebase origin main
          git push
